*{
    margin: 0;
    padding: 0;
}

body{
    font-family: arial;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    background: url('./images/more-leaves.png') repeat;
}

.template{
    width: 960px;
    margin: 0 auto;
    background-color: #ddd;
}

.overflow{
    overflow: hidden;
}

input[type="text"],input[type="email"]{
    width: 300px;
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid #b8cb5d;
    border-radius: 5px;
}

.header{
    background: #ab8442ab;
    height: 140px;
}

.header h1{
    font-size: 45px;
    text-align: center;
    padding-top: 3%;
    color: #fff;
}

.logo{
    float: left;
    margin-top: 10px;
}

.logo a img{
    height: 112px;
    margin-left: 22px;
    width: 111px;
}

.title{
    margin-top: 30px;
    margin-left: 12em;
    margin-right: 30em;
}

.title h2{
    font-size: 30px;
    font-weight: bold;
    color: #5d9a73d9;
    padding-bottom: 8px;
    margin-right: 20px;
}

.title h5{
    margin-left: 12px;
    color: #8b3030;
    font-size: 18px;
    margin-right: 30px;
}

.social-media{
    width: 450px;
    margin-top: -68px;
    float: right;
    display: block;
}

.social-media img{
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    height: 100px;
}


.navigation{
    height: 40px;
    background-color: #a7bf37cf;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: block;
    float: left;
}

.navigation ul li a{
    text-decoration: none;
    background: #87b752fc;
    color: #104a50ab;
    font-weight: bold;
    display: block;
    margin: 5px;
    padding: 5px 30px;
}

.navigation li a:hover{
    background: #4a6d25de;
    color: #fff;
}

#active{
    background: #4a6d25de;
    color: #fff;
}

.navigation p{
    font-size: 20px;
    padding-left: 50px;
    color: #fff;
    padding-top: 5px;
}

.slider{
    box-shadow: 0px 0px 0px 0px #8b3030;
}

.body-content{
    background-color: #fff;
}

.main-content{
    float: left;
    width: 638px;
    margin: 15px 15px 15px 0;
    padding: 8px 15px;
    background: #e6ddc7;
    border: 1px solid #4fa992;
}


.post-content h2{
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #4d9d6f;
    color: #6b4c4c;
}

.contact h2{
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #4d9d6f;
    color: #6b4c4c;
}

.contact #email{
    margin-left: 35px;
}

.contact #submit{
    margin-left: 115px;
    background: #4d9d6f;
    padding: 10px;
    border: 2px solid #b8cb5d;
    border-radius: 5px;
    color: #c7ad80;
    font-size: 18px;
}

.contact #submit:hover{
    background: #fff;
    color: #00000085;
}
.contact p{
    margin-bottom: 10px;
    font-size: 15px;
    text-align: justify;
}

.post-content-details p{
    margin-bottom: 10px;
    font-size: 15px;
    text-align: justify;
}

.post-content-details h2{
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #4d9d6f;
    color: #6b4c4c;
}

.post-content img{
    border: 5px solid #fff;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    width: 200px;
    height: 110px;
}

.post-content-details img{
    border: 5px solid #fff;
    float: left;
    margin-top: 5px;
    margin-right: 8px;
    width: 350px;
    height: 215px;
}

.related-post img{
    border: 5px solid #fff;
    float: left;
    margin-top: 5px;
    margin-right: 8px;
    width: 194px;
    height: 125px;
}

.related-post img:hover{
    opacity: 0.7;
}

.post-content p{
    font-size: 16px !important;
    line-height: 20px;
    text-align: justify;
}

.read-more{
    float: right;
}

.read-more a{
    background: #fff;
    font-size: 16px;
    border: 1px solid #9b999a;
    border-radius: 3px;
    color: #333;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}

.read-more a:hover{
    color: #0A4898;
}

.side-bar{
    float: right;
    width: 253px;
    margin-top: 15px;
    background-color: #e6ddc7;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4fa992;
}

.same-sidebar{
    margin-bottom: 10px;
}

.same-sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.same-sidebar ul li{
    font-size: 16px;
    padding: 5px 8px 5px 0;
    border-bottom: 1px dashed #4d9d6f;
    padding-left: 0px;
}

.same-sidebar ul li:last-child{
    border-bottom: 0px dashed #4d9d6f;
}

.same-sidebar ul li a{
    text-decoration: none;
    color: #4d9d6f;
}

.same-sidebar ul li a:hover{
    color: #9b999a;
}

.same-sidebar h2{
    background: #409867eb;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    border-bottom: 2px solid #b8cb5d;
}

.same-sidebar h3{
    color: #444;
    padding: 5px 0px 5px 30px;
    border-bottom: 1px dashed #86ce33;
    margin-bottom: 5px;
}

.same-sidebar img{
    height: 50px;
    width: 60px;
    margin-top: 5px;
    float: left;
    margin-right: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.same-sidebar p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.footer{
    height: 120px;
    background: #ab8442ab;
}

.footer p{
    text-align: center;
}

.footer-menu{
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
}

.footer-menu ul{
    margin: 10px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer-menu ul li{
    display: inline-block;
}

.footer-menu ul li a{
    text-decoration: none;
    color: rgb(99, 45, 131);
}